<br>
<div class="vertical-menu">
  <a <a href="{{ '/' | relative_url }}">Forside</a>
</div>

<button class="collapsible">Eksempel på menu</button>
<div class="content">
    <ul>
        <li><a href="{{ '/HRStrategiskDashboard_personalesammensætning' | relative_url }}">Personalesammensætning</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_sygefravær' | relative_url }}">Sygefravær</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_trivsel' | relative_url }}">Trivsel</a></li>
    </ul>
</div>

<div class="vertical-menu">
<a <a href="{{ '/EksempelA' | relative_url }}">Eksempel A[†]</a>
</div>

<div class="vertical-menu">
<a <a href="{{ '/EksempelB' | relative_url }}">Eksempel B[†]</a>
</div>

<div class="vertical-menu">
<a <a href="{{ '/ordforklaring' | relative_url }}">Ordforklaring[†]</a>
</div>

<button class="collapsible">Internt</button>
<div class="content">
    <ul>
        <li><a href="{{ '/internt_GitHub' | relative_url }}">GitHub - Guide[†]</a></li>
        <li><a href="{{ '/internt_hjemmeside' | relative_url }}">Hjemmeside - Guide[†]</a></li>
        <li><a href="{{ '/internt_øvrige' | relative_url }}">Øvrige[†]</a></li>

    </ul>  
</div>
<p>
<small>
<br>
</small>
<br>

<b id="demo"></b>
<script>
let side;
switch (window.location.pathname) {
  case "{{ '/' | relative_url }}":
    side = "Forside";
    break;  
  default:
    side = "Side";
}
document.getElementById("demo").innerHTML = side + " - indhold";
</script>
<p id="hBar" > </p>
<!-- Script to make sure the collapsible unfolds with an animation -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px" ;
    } 
  });
}
</script>

