<br>
<div class="vertical-menu">
  <a <a href="{{ '/' | relative_url }}">Forside[†]</a>
</div>

<button class="collapsible">HR Strategisk Dashboard</button>
<div class="content">
    <ul>
        <li><a href="{{ '/HRStrategiskDashboard_personalesammensætning' | relative_url }}">Personalesammensætning[*]</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_sygefravær' | relative_url }}">Sygefravær[*]</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_trivsel' | relative_url }}">Trivsel[*]</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_rekruttering' | relative_url }}">Rekruttering[*]</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_onboarding' | relative_url }}">Onboarding[*]</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_fastholdelse' | relative_url }}">Fastholdelse[*]</a></li>
        <li><a href="{{ '/HRStrategiskDashboard_exit-undersøgelse' | relative_url }}">Exit-undersøgelse[*]</a></li>
    </ul>
</div>
<button class="collapsible">HR Lederdashboard</button>
<div class="content">
    <ul>
        <li><a href="{{ '/lederdashboard_personalesammensætning' | relative_url }}">Personalesammensætning[†]</a></li>
        <li><a href="{{ '/lederdashboard_sygefravær' | relative_url }}">Sygefravær[†]</a></li>
        <li><a href="{{ '/lederdashboard_ferieafholdelse' | relative_url }}">Ferieafholdelse[†]</a></li>
    </ul>
</div>
<button class="collapsible">Tabeller og databaser</button>
<div class="content">
    <ul>
        <li><a href="{{ '/tabellerOgDatabaser_intro' | relative_url }}">Intro til tabeller[*]</a></li>
        <li><a href="{{ '/tabellerOgDatabaser_produktion' | relative_url }}">Tabeller i Produktion[*]</a></li>
        <li><a href="{{ '/tabellerOgDatabaser_opdatering' | relative_url }}">Opdatering og validering[*]</a></li>
    </ul>
</div>

<div class="vertical-menu">
<a <a href="{{ '/ordforklaring' | relative_url }}">Ordforklaring[†]</a>
</div>

<button class="collapsible">Internt</button>
<div class="content">
    <ul>
        <li><a href="{{ '/internt_GitHub' | relative_url }}">GitHub - Guide[†]</a></li>
        <li><a href="{{ '/internt_hjemmeside' | relative_url }}">Hjemmeside - Guide[†]</a></li>
        <li><a href="{{ '/internt_dokumentering' | relative_url }}">Dokumentering - Guide[†]</a></li>    
        <li><a href="{{ '/internt_versionsstyring' | relative_url }}">Versionsstyring - Guide[*]</a></li>
        <li><a href="{{ '/internt_dashboard' | relative_url }}">Dashboard - Guide[*]</a></li>
        <li><a href="{{ '/internt_kube' | relative_url }}">Kube - Guide[*]</a></li>
        <li><a href="{{ '/internt_views' | relative_url }}">Views - Guide[*]</a></li>
        <li><a href="{{ '/internt_tabellerOgDatabaser' | relative_url }}">Tabeller og databaser - Guide[*]</a></li>
        <li><a href="{{ '/internt_postkassen' | relative_url }}">Postkassen - Guide[†]</a></li>
        <li><a href="{{ '/internt_øvrige' | relative_url }}">Øvrige[†]</a></li>

    </ul>  
</div>
<p>
<small>
<br>
</small>
<br>

<b id="demo"></b>
<script>
let side;
switch (window.location.pathname) {
  case "{{ '/' | relative_url }}":
    side = "Forside";
    break;  
  default:
    side = "Side";
}
document.getElementById("demo").innerHTML = side + " - indhold";
</script>
<p id="hBar" > </p>
<!-- Script to make sure the collapsible unfolds with an animation -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px" ;
    } 
  });
}
</script>

